.Card {
  display: flex;
  flex-direction: column;
  flex-stretch: stretch;
  font-size: 1.875em;
  width: 100%;
}

.Card__term,
.Card__translation {
  padding: 1em;
  overflow: scroll;
}

.Card__term {
  background: var(--black);
  color: var(--trees);
  flex-grow: 1;
}

.Card__translation {
  display: none;
}

#Revealer:checked ~ .Card .Card__translation {
  display: block;
  height: 50%;
}
