.Game {
  background: var(--dry-grass);
  color: var(--black);
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 85% 15%;
  height: 100%;
  max-width: 40rem;
  margin: 0 auto;
  width: 100%;
}

.errorMessage,
.LoadingMessage {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 1em;
}

#Pinner,
#Revealer {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.Button {
  align-items: center;
  background: var(--dry-grass);
  color: var(--black);
  border: 0;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: 1em;
  justify-content: center;
}

.Button__Revealer {
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-row-start: 2;
}

.Button__nextCard {
  grid-column-end: 3;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-row-start: 2;
}

/* These styles are !important to prevent :focus overriding them on touch.
   Feels a bit nasty I know, but it doesn't feel like a focus style makes sense
   here */
.Button__Pinner {
  float: right;
  border: 0!important;
  border-top: solid 1.2em var(--concrete) !important;
  border-left: solid .9em transparent !important;
  border-right: solid .9em transparent !important;
  transition: border-color .1s ease;
}

.Button__Pinner span {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.Game .Card {
  grid-column-end: 3;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

.Button:focus,
input:focus + .Button {
  border: .25em dashed var(--bone);
  outline: none;
}

#Pinner:focus ~ .Button__Pinner,
.Button__Pinner:focus {
  border-top-width: 1.4em !important;
  border-left-width: 1.05em !important;
  border-right-width: 1.05em !important;
}

.Button::-moz-focus-inner {
  border: 0;
}

#Pinner:checked ~ .Button__Pinner,
#Revealer:checked ~ .Button__Revealer {
  background: var(--bone);
}

#Revealer:checked ~ .Button__nextCard {
  color: var(--trees);
}

/* Border here is !important to prevent :focus overriding them on touch.
   Feels a bit nasty I know, but it doesn't feel like a focus style makes sense
   here */
#Pinner:checked ~ .Button__Pinner {
  background: transparent;
  border-top-color: var(--bone) !important;
}
