:root {
  --black: #050F08;
  --dry-grass: #E0CAA3;
  --bone: #F4EADD;
  --trees: #226329;
  --concrete: #C7B7AD;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--black);
  font-family: Georgia, sans-serif;
  font-size: 1.25em;
  line-height: 1.5;
}

#root {
  background: var(--concrete);
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}
